.form_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.form_container {
  width: 472px;
  max-width: 472px;
}
.top_button {
  display: flex;
  gap: 30px;
}
.form_container form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
